$background: #0d0b0f;
$primary: #4d568d;
$secondary: #130f1a;
$secondary-100: rgb(37, 38, 58);
$secondary-200: rgba(255, 255, 255, 0.2);
$secondary-300: rgba(132, 123, 177, 0.2);
$placeholder: rgba(64, 64, 80, 0.45);
